### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
.env

#vscode
SpeciesNet.code-workspace
### venv
asn_venv/
devnotes/
bak/
speciesnet/media/
speciesnet/static/images
speciesnet/static/styles

