<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset='utf-8'>
        <title>Aquarist Species</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js "></script>
        <link href=" https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/cerulean/bootstrap.min.css " rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles\asn_main.css' %}">
        
    </head>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); //{# get bootstrap tooltips to display #}
            $('#div_id_captcha').hide(); //{# django-recaptcha does not play well with crispy forms #}
          });
    </script>
<body>

    <style>
        /* Workaround bug fix to force all bootstrap primary button to ensure white text */
        .btn-primary,
        input.btn-primary,
        button.btn-primary,
        a.btn-primary,
        .btn-primary:not([type="submit"]) {
            color: #fff !important;
        }
        
        /* Handle hover states for all types */
        .btn-primary:hover,
        .btn-primary:focus,
        .btn-primary:active,
        input.btn-primary:hover,
        input.btn-primary:focus,
        input.btn-primary:active,
        button.btn-primary:hover,
        button.btn-primary:focus,
        button.btn-primary:active,
        a.btn-primary:hover,
        a.btn-primary:focus,
        a.btn-primary:active {
            color: #fff !important;
        }
    </style>


    {% include 'navbar.html' %}

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9D8MJ9CKT7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-9D8MJ9CKT7');
    </script>

    <!-- Google Sign-in Option -->
    <!--
    {# Add hide_google_login = True to any of your contexts to hide the one click google login window #}
    {% if not request.user.is_authenticated and not hide_google_login %}
    <script src="//accounts.google.com/gsi/client" async></script>
    <div id="g_id_onload"
        data-client_id="{{ GOOGLE_OAUTH_LINK }}"
        data-login_uri="{% url 'google_login_by_token' %}">
    </div>
    -->

    {% endif %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert 
        {% if "error" in message.tags %}
        alert-danger
        {% else %}
        alert-{{ message.tags }}
        {% endif %}
        alert-dismissible fade show" role="alert">{{ message|safe }} 
        <!--button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button-->
        </div>
        {% endfor %}
    {% endif %}
    <div class="mt-1 mb-1 ml-3 mr-3">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html> 
