{% load static %}
<div>
    <h1>
        <a href="/"><img style="vertical-align:middle" src={% static 'images\SpeciesNet2s.jpg' %}></a>
        &nbsp;
        <a href="/">Aquarist Species</a>
    </h1>
</div>
<div> 
    {% if request.user.is_authenticated %}
    <h3 style = "display: flex; justify-content: space-between;">
        <span><a href="{% url 'betaProgram'%}">Beta Program</a></span>
        <a href="{% url 'createSpecies'%}">Add Species</a>
        <a href="{% url 'aquarists' %}">Aquarists</a>
        <a href="{% url 'logout' %}">Logout {{request.user}}</a>
    </h3>
    {% else %}
    <h3 style = "display: flex; justify-content: space-between;">
        <span><a href="{% url 'login' %}">Login</a></span>
        <a href="{% url 'betaProgram'%}">Beta Program</a>
    </h3>
    {% endif %}
    <hr/>
</div>
