{% load static %}
<div>
    <h1>
        <a href="/"><img style="vertical-align:middle" src={% static 'images\SpeciesNet1s.jpg' %}></a>&nbsp;
        <a href="/">Aquarist Species</a>
    </h1>
</div>
<div class="div-line-below">
    {% if request.user.is_authenticated %}
    <h5 style = "display: flex; justify-content: space-between;">
        <span><a href="{% url 'about_us'%}">About Us</a></span>
        <a href="/searchSpecies">Search Species</a>
        <a href="{% url 'aquarists' %}">Aquarists</a>
        <a href="{% url 'userProfile' %}">{{request.user}}</a>
    </h5>
    {% else %}
    <h5 style = "display: flex; justify-content: space-between;">
        <span><a href="{% url 'about_us'%}">About Us</a></span>
        <a href="/searchSpecies">Search Species</a>
        <a href="{% url 'aquarists' %}">Aquarists</a>
        <a href="{% url 'account_login' %}">Sign in</a>
    {% endif %}
    <!--hr/-->
</div>