{% load static %}
<div>
    <h1>
        <a href="/"><img style="vertical-align:middle" src={% static 'images\SpeciesNet2s.jpg' %}></a>
        &nbsp;
        <a href="/">Aquarist Species</a>
    </h1>
</div>
<div class="div-line-below">
    {% if request.user.is_authenticated %}
    <h5 style = "display: flex; justify-content: space-between;">
        <span><a href="{% url 'betaProgram'%}">Beta Program</a></span>
        <a href="{% url 'createSpecies'%}">Add Species</a>
        <a href="{% url 'aquarists' %}">Aquarists</a>
        <a href="{% url 'account_logout' %}">Logout {{request.user}}</a>
    </h5>
    {% else %}
    <h5 style = "display: flex; justify-content: space-between;">
        <span><a href="{% url 'account_login' %}">Sign in</a></span>
        <a href="{% url 'betaProgram'%}">Beta Program</a>
    {% endif %}
    <!--hr/-->
</div>