body {
    background-color: rgb(152, 199, 231) !important;
    padding: 0.5em !important; 
}
    

a:link {color:rgb(20, 20, 230) !important;}
a:visited {color:rgb(60, 60, 230) !important;}
a:hover {color:rgb(80, 80, 230) !important;}
a:active {color:rgb(90, 90, 230) !important;}

.home-container 
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.div-line-below:after {
    content: " ";
    display: block;
    border-bottom: 1px solid slategray;
}

.div-line-above:before {
    content: " ";
    display: block;
    border-top: 1px solid slategray;
}

hr 
{
    color:slategrey !important;
    border-color: rgb(120, 199, 230) !important;
    border-width: 2px !important;
}

h1
{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    color: black !important; 
    line-height: 1.5 !important;
}

h2
{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    color: black !important; 
    line-height: 1.5 !important;
}

h3
{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    color: black !important; 
    line-height: 1.5 !important;
}

h4
{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    color: black !important; 
    line-height: 1.5 !important;
}

h5
{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    color: black !important; 
    line-height: 1.5 !important;
}

p
{
    color: black !important; 
}

li
{
    color: darkslategray !important; 
}

.btn-primary {
    background-color: #7ca38d !important;  
    border-color:#7ca38d !important;
}

.btn-primary:hover {
    background-color: #6a8aa1 !important;  
    border-color:#6a8aa1 !important;
}

.btn-primary:active,
.btn-primary:focus {
    background-color: #638296!important;  
    border-color: #638296!important;
}
/* Placeholder styling for all forms */
::placeholder {
    color: #adb5bd !important;        /* Medium-light gray */
    font-style: italic !important;      /* Italic to distinguish from real data */
    opacity: 1 !important;
}

