body {
    background-color: rgb(183, 208, 189) !important;
    padding: 0.5em !important; 
}

a:link    {color:rgb(15, 20, 15) !important;}
a:visited {color:rgb(30, 40, 30) !important;}
a:hover   {color:rgb(90, 80, 90) !important;}
a:active  {color:rgb(45, 60, 45) !important;}

.home-container 
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.div-line-below:after {
    content: " ";
    display: block;
    border-bottom: 1px solid slategray;
}

.div-line-above:before {
    content: " ";
    display: block;
    border-top: 1px solid slategray;
}

hr 
{
    color:black !important;
    border-color: rgb(183, 208, 189) !important;
    border-width: 2px !important;
}

h1
{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    color: black !important; 
    line-height: 1.5 !important;
}

h2
{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    color: black !important; 
    line-height: 1.5 !important;
}

h3
{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    color: black !important; 
    line-height: 1.5 !important;
}

h4
{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    color: black !important; 
    line-height: 1.5 !important;
}

h5
{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    color: black !important; 
    line-height: 1.5 !important;
}

p
{
    color: black !important; 
}

li
{
    color: darkslategray !important; 
}

