{% extends 'main.html' %}
{% load static %}
<!-- context = {species, speciesReferenceLinks, speciesInstances, renderCares, userCanEdit, cform, rlform, userCanEdit} -->
{% block content %}

<div class="container mt-4"></div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3>CARES Species Profile: &nbsp;<i>{{species.name}}</i></h3>
                </div>
                <!--div class="card-body px-4 py-3" style="background-color: #b6d7ef;"-->
                <div class="card-body px-4 py-3">
                    {% if species.alt_name %}
                        <p><b>Alternate Name:</b> &nbsp;&nbsp;{{species.alt_name}}</p>
                    {% endif %}
                    {% if species.common_name %}
                        <p><b>Common Name:</b>&nbsp;&nbsp;{{species.common_name}}</p>
                    {% endif %}
                    {% if species.species_image %}
                        <p><img src={{species.species_image.url}}></p>
                    {% endif %}
                    {% if species.photo_credit %}
                        <p>Photo by:<i> &nbsp;{{species.photo_credit}}</i> </p>
                    {% endif %}
                    <h4>Description</h4>
                    <p>{{species.description|linebreaks}}</p>
                    <p><b>Global Region:</b> &nbsp;&nbsp;{{species.get_global_region_display}}</p>
                    <p><b>Distribution:</b> &nbsp;&nbsp;{{species.local_distribution}}</p>
                    <p><b>IUCN Red List:</b> &nbsp;&nbsp;{{species.get_iucn_red_list_display}}</p>

                    <p><b>CARES Family:</b> &nbsp;&nbsp;{{species.get_cares_family_display}}</p>
                    <p><b>CARES Classification:</b> &nbsp;&nbsp;{{species.get_cares_classification_display}}</p>

                    {% if speciesReferenceLinks.all.count > 0  %}
                    <h4>Reference Links</h4>
                        {% for speciesReferenceLink in speciesReferenceLinks %}
                            <p style = "display: flex; justify-content: space-between;">
                                <span><a href="{{speciesReferenceLink.reference_url}}" target="_blank" rel="noopener noreferrer">{{speciesReferenceLink.name}}</a></span>
                                {% if speciesComment.user == request.user or userCanEdit %}
                                    <a href="{% url 'editSpeciesReferenceLink' speciesReferenceLink.id %}">Edit Link</a>
                                    <!--a class="btn btn-secondary" href="{% url 'editSpeciesReferenceLink' speciesReferenceLink.id  %}" role="button">&nbsp;Edit Link&nbsp;</a-->
                                {% endif %}  
                            </p>  
                        {% endfor %}  
                    {% endif %}

                    <p><a class="btn btn-secondary" href="{% url 'createCaresRegistration' species.id  %}" role="button">&nbsp;Register Species&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;

                    <small>&nbsp;</small>
                    <div class="css_class='mb-3 section-bordered">
                        <h4>Registrations</h4>
                        {% if species.registrations.all.count > 0  %}
                            {% for registration in registration %}
                                <p><b>{{registration.aquarist.get_first_name}} {{registration.aquarist.get_last_name}}</b>:       
                                <a href="{% url 'caresRegistration' registration.id %}">{{registration.name}}</a></p>
                            {% endfor %}    
                        {% else %}
                            <p><b>None</b></p>
                        {% endif %}
                    </div>
                        
                    {% if userCanEdit %}
                        <div class="css_class='mb-3 section-bordered">
                            <h4>Edit</h4>
                            <p><a class="btn btn-secondary" href="{% url 'editCaresSpecies' species.id  %}" role="button">&nbsp;Edit Species&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-secondary" href="{% url 'createSpeciesReferenceLink' species.id  %}" role="button">&nbsp;&nbsp;Add Reference Link&nbsp;&nbsp;</a></p>
                        </div>
                    {% endif %}                      

                </div>
            </div>
        </div>     
    </div>
</div>

{% endblock content %}
