{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h2>CARES Registrations ({{ registrations|length }})</h2>
    {% if registrations %}
        {% for registration in registrations %}
        <div class="div-line-below">
            <p>
                <a href="{% url 'caresRegistration' registration.id %}">{{ registration.name }}</a>
                &nbsp;&nbsp;<span class="text-muted">{{ registration.get_status_display }}</span>
                &nbsp;&nbsp;<span class="text-muted">{{ registration.date_requested|date:'Y-m-d' }}</span>
            </p>
        </div>
        {% endfor %}
    {% else %}
        <h5>None</h5>
    {% endif %}
</div>
{% endblock content %}