{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">The CARES Priority List</h3>
                </div>
                <div class="card-body px-4 py-3">
                    <large>
                        <p>
                            <b><i>CaresSpecies.org</i></b> implements the <b>CARES Priority List</b> of nearly 800 priority species 
                            as a database with search options enabling you to search on <b><i>species name, synonym, common name</i></b> and 
                            <b><i>description</i></b> to help you find CARES priority species. Each species profile page provides summary 
                            information and a <b>Register Species</b> button. You can also suggest helpful improvements to the species 
                            profile by clicking the <b>Species Feedback</b> button.
                        </p>
                        <p>
                            <b>CARES Families</b> have been revised to more closely align with the <b>CARES Experts</b> responsible for approving registrations. 
                        </p>
                        <ul>    
                            <li>Adrianichthyidae - Ricefish</li>
                            <li>Anabantidae - Climbing Gouramies</li>
                            <li>Aphaniidae - Eurasian Killifish</li>           
                            <li>Aplocheilidae - SE Asia Killifish</li>         
                            <li>Bedotiidae - Madagascar Rainbowfish</li>
                            <li>Characidae - Tetras</li>
                            <li>Cichlidae - Asia</li>
                            <li>Cichlidae - Central America</li>
                            <li>Cichlidae - East Africa</li>
                            <li>Cichlidae - Lake Malawi</li>
                            <li>Cichlidae - Lake Tanganyika</li>
                            <li>Cichlidae - Lake Victoria</li>
                            <li>Cichlidae - Madagascar</li>
                            <li>Cichlidae - North Africa</li>
                            <li>Cichlidae - South Africa</li>
                            <li>Cichlidae - West Africa</li>
                            <li>Cobitidae - True Loaches</li>
                            <li>Cyprinidae - Minnows and Carps</li>
                            <li>Cyprinodontidae - Small Killifish (Pupfish)</li>
                            <li>Fundulidae - North American Killifish</li>
                            <li>Gobiidae - Gobies</li>
                            <li>Goodeidae - Splitfin Livebearers</li>
                            <li>Loricariidae - Armoured Catfish</li>
                            <li>Melanotaeniidae - Oceania Rainbowfish</li>
                            <li>Mochokidae - Upside-down Catfish (Squeakers)
                            <li>Nothobranchiidae - African Killifish</li>
                            <li>Osphronemidae - Bettas</li>        
                            <li>Poeciliidae - Livebearers</li>
                            <li>Pseudomugilidae - Blue-eyed Rainbowfish</li>
                            <li>Rivulidae - South American Killifish</li>
                            <li>Valenciidae - Mediteranean Killifish</li>
                        </ul>
                        <p>
                        To search the <b>CARES Priority List</b> click on the top menu <b>Species Search</b> or click the following link: &nbsp;
                        <a href="/cares/caresSpeciesSearch/">CARES Species Search</a>
                        </p>
                    </large>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
