{% extends 'main.html' %}
{% block content %}
<div class="container">
    <h2><b>CARES Species Registration</b></h2>
    <h4>Register your: <i>{{species.name}}</i> </h4>
    <div>
        <table>
            <form method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {{form.as_table}}
                <!--td> </td><td style="text-align: left; padding-top: 1em;"><input type="Submit" value="Submit"></td-->
                <tr>
                    <td></td>
                    <td style="text-align: left; padding-top: 1em;">
                        <input type="Submit" style="border-style: solid; box-sizing: border-box; border-radius: 6px; padding: 4px 24px;" 
                            value="Save Changes">
                    </td>  
                </tr>               
            </form>
        </table>
    </div>
    <p><small>&nbsp;</small></p>
</div>
<script>
(function() {
    var select = document.getElementById('id_cp_select');
    var newInput = document.getElementById('id_cp_new_text');
    if (!select || !newInput) return;

    function toggleNewInput() {
        var isAdd = (select.value === '__add__');
        newInput.style.display = isAdd ? 'block' : 'none';
        newInput.required = isAdd;
        if (!isAdd) newInput.value = '';
    }

    select.addEventListener('change', toggleNewInput);
    toggleNewInput();
})();
</script>
{% endblock content %}
