{% extends 'main.html' %}
{% block content %}
<div class="container">
    <h3><b>Edit CARES Approver</b></i></h3>
    <div>
        <table>
            <form method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {{form.as_table}}
                <tr>
                    <td></td>
                    <td style="text-align: left; padding-top: 1em;">
                        <input type="Submit" style="border-style: solid; box-sizing: border-box; border-radius: 6px; padding: 4px 24px;" 
                            value="Save Changes">
                    </td>  
                </tr>  
                <tr>
                    <td></td>
                    <td style="text-align: left; padding-top: 1em;">
                        <a href="{% url 'deleteCaresApprover' form.instance.pk %}" class="btn btn-secondary" 
                            style="color: darkred !important;">Delete Approver </a>                            
                    </td>  
                </tr>                               
            </form>
        </table>
    </div>
    <p><small>&nbsp;</small></p>
</div>
{% endblock content %}