{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">About Us</h3>
                </div>
                <div class="card-body px-4 py-3">
                    <h5 style="text-align:center; margin-bottom: 1 rem;"><font style="color:#860404;" >
                        <i>** CaresSpecies.org is a <b>Beta Site</b> currently under development.</i> ** </font>
                    </h5>
                    <large>
                    <p>
                        Welcome to the new <b><i>CaresSpecies.org</i></b> site!
                    </p>
                    <p>                        
                        <i>CaresSpecies.org</i> supports the <b><a href="https://caresforfish.org/" target="_blank" rel="noopener noreferrer">CARES Preservation 
                        Program</a></b>. This program encourages aquarium hobbyists to help preserve <i>at-risk</i> fish species by dedicating tank 
                        space for <b>CARES Priority Species</b> in their home aquariums to breed and distribute them to others in the hobby.
                    </p>
                    <p>
                        This site provides <b>CARES Priority Species</b> details, reference links, and <b>Registration</b> support for all species declared on the 
                        <b><a href="https://caresforfish.org/?page_id=40" target="_blank" rel="noopener noreferrer">CARES Priority List</a></b>. You can search the CARES Species database 
                        to find your CARES species and see optional photos and details with supporting reference links to learn more about each species.
                        This early beta site fully supports CARES Registration of species you keep with a <b><i>Registration Button</i></b> on each species page. 
                    </p>
                    <p>
                        If you are a <b>CARES</b> fishkeeper or a <b>CARES</b> liaison for a local club <i>please consider joining our <b>beta program</b>!</i>
                    </p>
                    <p>
                        Beta <b>Registration</b> of CARES priority list species is available now to everyone browsing this site. If you currently keep a CARES species
                        and have not yet registered it, please consider using the <b>Registration Button</b> available on each species page. Find your species
                        using the <a href="/cares/caresSpeciesSearch/"><b>CARES Species Search</b></a> options and click <b><i>Register This Species</i></b>. 
                    </p>                    
                    <p>
                        <i>CaresSpecies.org</i> partners with <b><i><a href="https://aquaristspecies.net/" target="_blank" rel="noopener noreferrer">AquaristSpecies.net</a></i></b>
                        to link aquarists keeping CARES species to the <b><a href="https://caresforfish.org/" target="_blank" rel="noopener noreferrer">CARES Preservation Program</a></b>.
                        New <b><i>AquaristSpecies.net</i></b> features are planned to help individuals and CARES liaisons manage and track both <b>CARES Registrations</b> and <b>Quarterly Reporting</b>.
                        To participate in this supporting beta program create an account on <i>AquaristSpecies.net</i> and add your <b>CARES species</b> using the <b><i>I keep this species!</i></b> 
                        button available on all <i>AquaristSpecies.net</i> species pages. 
                    </p>
                    <p>    
                       If you are a <b>CARES liaison</b> please contact the site admin at <i>aquaristspecies@gmail.com</i> to set up your club and participate in the club liaison beta program. 
                    </p>
                    <p>
                       Both individual and club liasion <b>Beta Users Welcome!</b></p>  
                    </large>
                    <p style="text-align:center;"><a href="/cares/caresSpeciesSearch/"><img src="/static/images/cares_logo_200x200_transparent_bg.png"></a></p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
