<!DOCTYPE html>
{% extends 'main.html' %}
{% block content %}
{% load static %}
<div class="container">
    <p>&nbsp;</p>
    <h1 style="text-align:center;">CaresSpecies.org</h1>
    <h4 style="text-align:center;">CARES Priority Species Management</h4>
    <p>&nbsp;</p>
    <p style="text-align:center;"><a href="{% url 'caresSpeciesSearch'%}"><img src={% static 'images\cares_logo_400x400.jpg' %}></a></p>
    <p>&nbsp;</p>
    <h4 style="text-align:center;">For more information see <a href="https://caresforfish.org">CaresForFish.org</a></h4>
    <h5 style="text-align:center;"><font style="color:#860404;" >** Beta Site | Under Development **</font></h5>
</div>
{% endblock content %}