{% extends 'main.html' %}
{% block content %}
<div>
    <h2>About Us</h2>
    <large>
    <p>
        Welcome to a new site <i>connecting <b>Aquarists</b> according to the <b>Species</b> they keep.</i>
    <ul>
        <li>Find aquarists keeping fish you want.</li>
        <li>Easily contact them!</li>
        <li>Share the fish you keep.</li>
        <li>Let others know you have fry available.</li>
        <li>Make it easy for aquarists to find you!</li>
        <li>Share your contact info or keep it private - you choose.</li>
    </ul>
    <p>For an overview of features please visit the <a href="{% url 'howItWorks'%}">How It Works</a> page.</p>
    <p>Once you have an account and are ready to add your species you can use the <a href="{% url 'addSpeciesInstanceWizard1'%}">Add My Species Guided Tutorial</p>
    <p>Please join our community.</p>
    <ul>
        <li>Share the species you keep.</li>
        <li>Share your whole fish room or just your favorites.</li>
        <li>Species not found? Click 'Add Species'</li>
        <li>It's an open-source solution <i>by Aquarists - for Aquarists.</i></li>
        <li>Hobbyists only please! Not for business use.</li>
    </ul>
    <p>AquaristSpecies.net is a <i>croud-sourced</i> community. To succeed we need your help growing the community.</p>
    <p>If you like the idea, please sign up and participate in our Beta Program.</p>

    {% if not request.user.is_authenticated %}
        <p><a class="btn btn-secondary" href="{% url 'account_login' %}" role="button">Sign in or Create New Account</a></p>
    {% endif %}

    <p>Questions or comments? Please contact us at <b><i>AquaristSpecies@gmail.com</i></b></p>

    {% if request.user.is_authenticated %}
        <p>Feedback is always welcome! &nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'emailAquarist' 1 %}" role="button">Feedback</a></p>
    {% endif %}
    </large>
</div>
{% endblock content %}
