{% extends 'main.html' %}

{% block content %}
<div>
    <h2>Aquarists</h2>
    {% for aquarist in aquarists %}
        <div>
            {% if aquarist.species_instances.all.count > 0 %}
            <h5><a href="{% url 'aquarist' aquarist.id %}">{{aquarist.username}}  ({{aquarist.first_name}} {{aquarist.last_name}})</a> ({{aquarist.species_instances.all.count}})</h5>
            {% else %}
            <h5><a href="{% url 'aquarist' aquarist.id %}">{{aquarist.username}}  ({{aquarist.first_name}} {{aquarist.last_name}})</a></h5>
            {% endif %}
            </div>
    {% endfor %} 
</div>
{% endblock content %}