{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div>
        <h1>Aquarist Club</b></h1>
        {% if aquaristClub.logo_image %}
            <p><img src={{aquaristClub.logo_image.path}}></p>
        {% endif %}
        <h2>{{aquaristClub.name}}</h2>
        <p><a href="{{aquaristClub.website}}" target="_blank">{{aquaristClub.name}} website</a></p>
        {% if aquaristClub.city %}
            <p>City: {{aquaristClub.city}}</p>
        {% endif %}
        {% if aquaristClub.state %}
            <p>State: {{aquaristClub.state}}</p>
        {% endif %}
        {% if aquaristClub.country %}
            <p>Country: {{aquaristClub.country}}</p>
        {% endif %} 
        
        {% if aquaristClub.admins.count > 0 %}
            <h3>Club Admins</h3>
            {% for admin in aquariumClub.admins %}
                <h5><a href="{% url 'aquarist' admin.id %}">{{admin.get_display_name}}</a></h5>
            {% endfor %} 
        {% endif %}
        <p><a class="btn btn-secondary" href="{% url 'createAquaristClubMember' aquaristClub.id %}" role="button">Request to Join</a></p>
    </div>

    {% if userCanEdit %}
    <small>&nbsp;</small>
    <div class="div-line-above">
        <h3>Club Admin</h3>
        <p><a class="btn btn-secondary" href="{% url 'editAquaristClub' aquaristClub.id  %}" role="button">&nbsp;&nbsp;&nbsp;Edit Club&nbsp;&nbsp;&nbsp;</a></p>
        <p><a class="btn btn-secondary" href="{% url 'bapGenusPoints' aquaristClub.id  %}" role="button">&nbsp;BAP Genus Points Config&nbsp;</a></p>
        <p><a class="btn btn-secondary" href="{% url 'bapSpeciesPoints' aquaristClub.id  %}" role="button">&nbsp;BAP Species Points Config&nbsp;</a></p>
    </div>
    {% endif %}

    <div class="div-line-above">
        <h3>Club Members</h3>
        {% for member in aquaristClubMembers %}
            <div>
                <h5><a href="{% url 'aquaristClubMember' member.id %}">{{member.user.get_display_name}}</a></h5>
            </div>
        {% endfor %} 
    </div>
</div>
{% endblock content %}