{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div>
        <h2>{{aquaristClub.name}}</h2>
        {% if aquaristClub.logo_image %}
            <p><img src={{aquaristClub.logo_image.path}}></p>
        {% endif %}
        {% if aquaristClub.acronym %}
            <p><a href="{{aquaristClub.website}}" target="_blank">{{aquaristClub.acronym}} website</a></p>
        {% else %}
            <p><a href="{{aquaristClub.website}}" target="_blank">{{aquaristClub.name}} website</a></p>
        {% endif %}
        {% if aquaristClub.about %}
            <p>{{aquaristClub.about|linebreaks}}</p>
        {% endif %}
        <p>
            {% if aquaristClub.city %}
                {{aquaristClub.city}},&nbsp;
            {% endif %}
            {% if aquaristClub.state %}
                {{aquaristClub.state}}&nbsp;
            {% endif %}
            {% if aquaristClub.country %}
                {{aquaristClub.country}}
            {% endif %} 
        </p>
        {% if aquaristClub.admins.count > 0 %}
            <h3>Club Admins</h3>
            {% for admin in aquariumClub.admins %}
                <h5><a href="{% url 'aquarist' admin.id %}">{{admin.get_display_name}}</a></h5>
            {% endfor %} 
        {% endif %}
    </div>
        {% if userIsMember or userCanEdit %}
            <p><a class="btn btn-secondary" href="{% url 'aquaristClubMembers' aquaristClub.id %}" role="button">Club Members</a></p>
            <small>&nbsp;</small> 

            <div class="div-line-above">
                <h3>2025-2026 Breeder Award Program</h3>
                <p><a class="btn btn-secondary" href="{% url 'bapSubmissions' aquaristClub.id  %}" role="button">&nbsp;BAP Submissions&nbsp;</a></p>
                <p><a class="btn btn-secondary" href="{% url 'bapLeaderboard' aquaristClub.id  %}" role="button">&nbsp;&nbsp;BAP Leaderboard&nbsp;&nbsp;</a></p>
                <p><a class="btn btn-secondary" href="{% url 'bapGenus' aquaristClub.id  %}" role="button">&nbsp;BAP Points Configuration&nbsp;</a></p>
            </div>
            {% if userCanEdit %}
                <small>&nbsp;</small>
                <div class="div-line-above">
                    <h3>Club Admin</h3>
                    <p><a class="btn btn-secondary" href="{% url 'editAquaristClub' aquaristClub.id  %}" role="button">&nbsp;&nbsp;&nbsp;Edit Club&nbsp;&nbsp;&nbsp;</a></p>
                    <p><a class="btn btn-secondary" href="{% url 'bapSpecies' aquaristClub.id  %}" role="button">&nbsp;&nbsp;BAP Species Exceptions&nbsp;&nbsp;</a></p>
                </div>
            {% endif %}
        {% endif %}

        {% if not userIsMember %}
            <p><a class="btn btn-secondary" href="{% url 'createAquaristClubMember' aquaristClub.id %}" role="button">Join</a></p>
        {% endif %}
</div>
{% endblock content %}