{% extends 'main.html' %}

{% block content %}

<div class="div-line-below">
    <h2>BAP Admin</h2>
    <h4><b>Club: </b>{{club.name}}</h4>
    {% if club.logo_image %}
        <p><img src={{club.logo_image.path}}></p>
    {% endif %} 
</div>

<div class="div-line-below">
    <h2>BAP Submission</h2>
    <p><a class="btn btn-secondary" href="{% url 'bapSubmissions' club.id %}" role="button">View all BAP Submissions</a></p>
    <small>&nbsp;</small>
</div>

<div class="div-line-below">
    <h2>Club Membership</h2>
    {% for member in clubMembers %}
        <div>
            <h5><a href="{% url 'aquaristClubMember' member.id %}">{{member.user.get_display_name}}</a></h5>
        </div>
    {% endfor %} 
    <small>&nbsp;</small>
</div>

{% endblock content %}