{% extends 'main.html' %}

{% block content %}
<div class="container">
    <div>
        <h3><b>{{bap_submission.club.name}}</b></h3>
        <h5>
            <b>Aquarist: &nbsp;</b><a href="{% url 'aquarist' bap_submission.aquarist.id %}">{{bap_submission.aquarist.first_name}} {{bap_submission.aquarist.last_name}}</a>
            &nbsp;({{bap_submission.aquarist.get_display_name}})
        </h5>
        <h5><b>Species:</b> &nbsp;<a href="{% url 'speciesInstance' bap_submission.speciesInstance.id %}">{{bap_submission.speciesInstance.name}}</a></h5>
        <small>&nbsp;</small>
    </div>
    <div class="div-line-above">
        <small>&nbsp;</small>
        <h4><b>BAP Submission:</b></h4>
        <p><b>Status:</b> &nbsp;&nbsp;{{bap_submission.get_status_display}}</p>
        <p><b>Year:</b>&nbsp;&nbsp;{{bap_submission.year}}</p>

        {% if bap_submission.request_points_review %}
            <p><b>Points:</b> &nbsp;&nbsp;{{bap_submission.points}} <font style="color:#860404;" >&nbsp;&nbsp;Review Requested</font></p>
        {% else %} 
            <p><b>Points:</b> &nbsp;&nbsp;{{bap_submission.points}}</p>
        {% endif %}  
        
        <p><b>Submission:</b> &nbsp;&nbsp;{{bap_submission.created | date:'Y-m-d'}}</p>
        <p><b>Notes:</b></p>
        </p>{{bap_submission.notes|linebreaks }}</p>

        {% if bap_submission.comments %}
            <p><b>Comments:</b></p>
            </p>{{bap_submission.comments|linebreaks }}</p>
        {% endif %} 

        {% if userCanEdit %}
            <p><a class="btn btn-secondary" href="{% url 'editBapSubmission' bap_submission.id  %}" role="button">&nbsp;Edit BAP Submission&nbsp;</a></p>
        {% endif %}
        <p><a class="btn btn-secondary" href="{% url 'bapSubmissions' bap_submission.club.id  %}" role="button">&nbsp;{{bap_submission.club.acronym}} BAP Submissions&nbsp;</a></p>

    </div>
</div>
{% endblock content %}
