{% extends 'main.html' %}

{% block content %}
<div>
    <h2>Beta Program</h2>
    <p>
        <b>AquaristSpecies.net</b> is a new website focused on one key benefit: <i>connecting <b>Aquarists</b> according to the <b>Species</b> they keep.</i>
    </p>
    <p>
        <i>Try it it's easy as 1, 2, 3!</i> 
    </p>
    <ol>  
        <li>Create an account with a <i>username, email, and password</i> </li>    
        <li>Select the <b>Species</b> you keep. Click on the </b><i>'I keep this fish!'</i></b> option</li>
        <li>Fill in a few fields describing your fish. Provide as little or as much detail as you like. </li> 
    </ol>
    <p>
        Please consider signing up for our Beta Program. It's </b><i>'Where Fish Rooms Meet!'</i></b>
    </p>
    <p>
        Recently signed up users include:
    </p>
    </large>
    {% for aquarist in aquarists %}
        <div>
            {% if aquarist.species_instances.all.count > 0 %}
                <h5><a href="{% url 'aquarist' aquarist.id %}">{{aquarist.username}}</a> ({{aquarist.species_instances.all.count}})</h5>     
            {% else %}
                <h5><a href="{% url 'aquarist' aquarist.id %}">{{aquarist.username}}</a></h5> 
            {% endif %}
            </div>
    {% endfor %} 
</div>
{% endblock content %}