{% extends 'main.html' %}

{% block content %}
<div>
    <h2>Beta Program</h2>
    <p>
        Welcome to our new site <i>connecting <b>Aquarists</b> according to the <b>Species</b> they keep.</i>
    </p>
    <p>
        <h4></b>AquaristSpecies.net ... it's <i>'Where Fish Rooms Meet!'</i></b></h4>
    </p>

    <p>
        <i>Try it it's easy as 1, 2, 3!</i> 
    </p>
    <ol>  
        <li>Create an account with a <i>username, email, and password</i> </li>    
        <li>Select the <b>Species</b> you keep. Click on the </b>'I keep this fish!'</b> option</li>
        <li>Fill in a few fields describing your fish. Provide as little or as much detail as you like. </li> 
    </ol>
    <p>
        Please consider signing up and participating in our Beta Program.
    </p>
        {% if not request.user.is_authenticated %}
        <h4><a href="{% url 'account_login' %}">Sign in or Create New Account</a></h4>
        {% endif %}
    <p>
        Recently signed up users include:
    </p>
    </large>
    {% for aquarist in aquarists %}
        <div>
            {% if aquarist.species_instances.all.count > 0 %}
                <h5><a href="{% url 'aquarist' aquarist.id %}">{{aquarist.username}}</a> ({{aquarist.species_instances.all.count}})</h5>     
            {% else %}
                <h5><a href="{% url 'aquarist' aquarist.id %}">{{aquarist.username}}</a></h5> 
            {% endif %}
            </div>
    {% endfor %} 
</div>
{% endblock content %}
