{% extends 'main.html' %}

{% block content %}

<div class="div-line-below">
    <h2>CARES Admin</h2>
    <p>The following tools are for admin use only.</p>
</div>

<div class="div-line-below">
    <h2>CARES Species Registrations</h2>
    <p><a class="btn btn-secondary" href="{% url 'caresRegistrations' %}" role="button">View all Registrations</a></p>
    <small>&nbsp;</small>
</div>

<div class="div-line-below">
    <h2>Species Tools</h2>
    <p><a class="btn btn-secondary" href="{% url 'exportSpecies' %}" role="button">Export Species to CSV</a></p>
    <p><a class="btn btn-secondary" href="{% url 'importSpecies' %}" role="button">Import Species from CSV</a></p>
    <p><a class="btn btn-secondary" href="{% url 'createSpecies' %}" role="button">Add New Species</a></p>
    <small>&nbsp;</small>
</div>

<div class="div-line-below">
    <h2>Aquarist Clubs</h2>
    <p><a class="btn btn-secondary" href="{% url 'aquaristClubs' %}" role="button">View all Clubs</a></p>
    <p><a class="btn btn-secondary" href="{% url 'createAquaristClub' %}" role="button">Add New Club</a></p>
    <small>&nbsp;</small>
</div>

{% endblock content %}