{% extends 'main.html' %}
{% block content %}
{% load static %}
<div class="container">
    <h2>CARES Preservation Program</h2>
    <large>
        <p>
            The <b>CARES Fish Preservation Program</b> promotes conservation of threatened and endangered species by encouraging aquarists to maintain
            at-risk species long term and to distribute their offspring throughout the hobby. By maintaining these species with a particular focus
            on preserving healthy gene pools and preventing hybridization, together we can help preserve CARES species. The CARES organization 
            administers the <b><a href="https://caresforfish.org/?page_id=40" target="_blank">CARES Priority List</a></b> which is continuously being updated to
            help hobbyists identify species meeting the criteria of a CARES conservation priority fish.
        </p>
        <p><b>
            AquaristSpecies.net</b> promotes CARES species by emphasizing species listed on the CARES Priority List and integrating CARES species 
            into hosted club <b><a href="{% url 'bap_overview'%}">BAP Programs</a></b>, utilizing a <i>CARES Multiplier</i> to increase recognition 
            and value for breeding CARES species. To promote and encourage long-term species maintenance, a <i>Maintenance Multiplier</i> will be added 
            to recognize hobbyists maintaining CARES species long-term with the multiplier emphasizing the number of years successfully maintaining
            and distributing CARES species throughout the hobby. 
        </p>
        <p>
            For those working to maintain CARES species, the <b>Species Maintenance Collaboration</b> feature enables hobbyists to contribute to a shared
            Species Maintenance Log together posting notes, photos, and videos documenting their maintenance journey. Share experiences - what works, what 
            doesn't - and encourage others to keep CARES species. 
            Please see the current list of <a href="{% url 'speciesMaintenanceLogs'%}">Species Maintenance Logs</a>.
        </p>
        <p>
            <b>AquaristSpecies.net</b> is proud to partner with the <b>CARES Preservation Program</b> to help aquarists find and distribute 
            CARES species by providing a free open source community where members can share their fishrooms, network with fellow hobbyists, and share
            their fish keeping experiences and best practices to help others succeed with CARES species. 
        <p></p>
        <p>For more information visit <a href="https://caresforfish.org" target="_blank">CaresForFish.org</a></p>
        <p></p>
        <p></p>
        <p></p>
        <p style='text-align:center'><img src={% static 'images\cares_logo_fish_330x330_large_border_black.png' %}></p>
    </large>
</div>
{% endblock content %}