{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h3>{{aquaristClub.name}}</h3>
        <div>

            {% if club.require_member_approval %}
                <p>Submit a request to join {{aquaristClub.name}}.</p>
                <p>A club admin will need to approve your {{aquaristClub.acronym}} membership.</p>            
            {% else %} 
                <p>Submit your request to join {{aquaristClub.name}}.</p>
                <p>Once you have joined, you will be able to participate in the {{aquaristClub.acronym}} BAP Program.</p>  
            {% endif %}  

            <p><b>Name:</b> {{request.user.first_name}} {{request.user.last_name}}</p>
            <p><b>Username:</b> {{request.user.username}}</p>

            <table>
                <form method="POST" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    {{form.as_table}}
                    <td style="text-align: left; padding-top: 1em;"><input type="Submit" value="Submit"></td>
                </form>
            </table>
        </div>
    <p><small>&nbsp;</small></p>
</div>
{% endblock content %}