{% extends 'main.html' %}

{% block content %}

<h2>Add Aquarist Species</h2>
<h4>Complete the form below to add your species to the database.</h4>
<h4>The name is the Species name by default. It can be appended to more fully describe your fish. </h4>
<h4>As a best practice, please describe where you got your fish in your Aquarist notes.</h4>
<h4><b>Required Fields:</b> &nbsp;&nbsp;<i>Name, Year Acquired</i>, and <i>Aquarist notes</i>.</h4>
<h4>Any remaining blank text fields won't show on your page.</h4>
<p><small>&nbsp;</small></p>
    <div>
        <table>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_table}}
                <td> </td><td style="text-align: left; padding-top: 1em;"><input type="Submit" value="Submit"></td>
            </form>
        </table>
    </div>

{% endblock content %}