{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h3>Add Species Profile:</h3>
    <h4>Complete the form below to add a new Species Profile to the database.</h4>
    <p><b>Please use care entering Species Profile data as it is <i>declared once</i> and shared by all Aquarists keeping the species.</b></p>
    <p><b>Required Fields:</b> &nbsp;&nbsp;<i>Name</i>, a brief <i>Description</i>, and <i>Local distribution</i>.<br/>
        It's okay to leave any of the remaining text fields blank. They won't show on the Species Profile page.<br/>
        If you add a photo, please also provide a name for the photo credit. </p>
    <p><small>&nbsp;</small></p>
        <div>
            <table>
                <form method="POST" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    {{form.as_table}}
                    <td> </td><td style="text-align: left; padding-top: 1em;"><input type="Submit" value="Submit"></td>
                </form>
            </table>
            
            {% if img_obj %}
                <h3>Succesfully uploaded : {{img_obj.title}}</h3>
                <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
            {% endif %}
        </div>
    <p><small>&nbsp;</small></p>
    <h4>Note that once you add a new species declaration, you may make same-day revisions if needed.</h4>
    <h4>After that Admins are responsible for reviewing and revising shared Species declarations.</h4>
</div>
{% endblock content %}
