{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h3>New Species Maintenance Log Entry</h3>
    <h4>{{speciesInstance.name}} </h4>
    <p><small>&nbsp;</small></p>
    <div>
        <table>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_table}}
                <td> </td><td style="text-align: left; padding-top: 1em;"><input type="Submit" value="Submit"></td>
            </form>
        </table>
    </div>
</div>
{% endblock content %}