{% extends 'main.html' %}

{% block content %}

<h2>Add Species:</h2>
<p><font style="color:#860404;" ><b>IMPORTANT: &nbsp;&nbsp;</b>Species are <b><i>DECLARED ONCE</i></b> and shared by Aquarists. &nbsp;Please help prevent duplicates. <br/>
    Check the spelling and <b><i>SEARCH</i></b> for your Species before adding it. &nbsp;&nbsp;<i>Thank you!</i></font></p>
<p><b>Required Fields:  &nbsp;&nbsp;<i>Name</i></b>, a brief <b><i>Description</i></b>, and <b><i>Local distribution</i></b>.<br/>
    It's okay to leave any of the remaining text fields blank. They won't show on the Species page.</p>
    <div>
        <table>
            <form method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {{form.as_table}}
                <td> </td><td style="text-align: left; padding-top: 1em;"><input type="Submit" value="Submit"></td>
            </form>
        </table>
        
        {% if img_obj %}
            <h3>Succesfully uploaded : {{img_obj.title}}</h3>
            <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
        {% endif %}
    </div>

{% endblock content %}