{% extends 'main.html' %}

{% block content %}

<h1>Delete Species</h1>

    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{species}}"?</p>
            {% if species.species_instances.all.count > 0 %}
                <p><large style="color:#8B0000;">THIS WILL ALSO DELETE <b>** ALL AQUARIST INSTANCES **</b> OF THIS SPECIES!</large></p>
                <p><large style="color:#8B0000;"><b>This Species has {{species.species_instances.all.count}} aquarist species instances!</b></large></p>
            {% endif %}
            <p><a href="{{request.META.HTTP_REFERER}}">Cancel</a></p>
            <p><input type="Submit" value="Delete"></p>
        </form>
    </div>

{% endblock content %}