{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h3>Delete Species Comment</h3>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <p>Are you sure you want to delete this <a href="{% url 'species' speciesComment.species.id %}">{{speciesComment.species}}</a> Species Comment?</p>
            <p><i>"{{speciesComment.comment}}"</i></p>
            <p><a href="{{request.META.HTTP_REFERER}}">Cancel</a></p>
            <p><input type="Submit" value="Delete"></p>
        </form>
    </div>
</div>
{% endblock content %}