{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h3>Delete Club Member: {{aquaristClubMember.user.get_display_name}} </h3>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <p>Are you sure you want to delete  {{aquaristClubMember.user.first_name}} {{aquaristClubMember.user.last_name}}'s membership?</p>
            <p><a href="{{request.META.HTTP_REFERER}}">Cancel</a></p>
            <p><input type="Submit" style="border-style: solid; box-sizing: border-box; border-radius: 6px; padding: 4px 24px;" value="Delete"></p>  
        </form>
    </div>
</div>
{% endblock content %}