{% extends 'main.html' %}

{% block content %}

<h2>Edit Species Maintenance Log Entry</h2>
<p><small>&nbsp;</small></p>
    <div>
        <table>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_table}}
                <!--td> </td><td style="text-align: left; padding-top: 1em;"><input type="Submit" value="Submit"></td-->
                <tr>
                    <td></td>
                    <td style="text-align: left; padding-top: 1em;">
                        <input type="Submit" style="border-style: solid; box-sizing: border-box; border-radius: 6px; padding: 4px 24px;" 
                            value="Apply Changes"></td>  
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align:left; padding-top:1em;">
                        <button style="border-style:solid; box-sizing: border-box; border-radius: 6px; padding: 4px 24px;" 
                            onclick="window.location.href='{% url 'deleteSpeciesMaintenanceLogEntry' speciesMaintenanceLogEntry.id  %}';" 
                            type="button">&nbsp;Delete Log Entry&nbsp;
                        </button></td>    
                </tr>
            </form>
        </table>
    </div>

{% endblock content %}