{% extends 'main.html' %}

{% block content %}

<h1>Edit Species:</h1>
<p><i>Required:</i> <b>Name</b>, a brief <b>Description</b>, and <b>Local distribution</b>.</p>
<p>It's okay to leave any of the remaining text fields blank. They won't show up on the Species page.</p>
    <div>
        <table>
            <form method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {{form.as_table}}
                <td> </td><td style="text-align: left; padding-top: 1em;"><input type="Submit" value="Submit"></td>
            </form>
        </table>
    </div>

{% endblock content %}