{% extends 'main.html' %}
{% block content %}
<div class="container">
    <h3>Edit Aquarist Species Log</h3>
    <h4>{{speciesInstanceLogEntry.name}} </h4>
    <div>
        <table>
            <form method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {{form.as_table}}
                <!--td> </td><td style="text-align: left; padding-top: 1em;"><input type="Submit" value="Submit"></td-->
                <tr>
                    <td></td>
                    <td style="text-align: left; padding-top: 1em;">
                        <input type="Submit" style="border-style: solid; box-sizing: border-box; border-radius: 6px; padding: 4px 24px;" 
                            value="&nbsp;&nbsp;Save Changes&nbsp;&nbsp;&nbsp;"></td>  
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align:left; padding-top:1em;">
                        <button style="border-style:solid; box-sizing: border-box; border-radius: 6px; padding: 4px 24px;" 
                            onclick="window.location.href='{% url 'deleteSpeciesInstanceLogEntry' speciesInstanceLogEntry.id %}';" 
                            type="button">Delete Log Entry
                        </button></td>    
                </tr>


            </form>
        </table>
    </div>
</div>
{% endblock content %}