{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h3>{{aquaristClubMember.club.name}}</h3>
    <h4>{{aquaristClubMember.user.first_name}} {{aquaristClubMember.user.last_name}} Membership Status:</h4>
    <p>Username: {{aquaristClubMember.user.get_display_name}} </p>
    <div>
        <table>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_table}}
                <td> </td><td style="text-align: left; padding-top: 1em;"><input type="Submit" value="Submit"></td>
            </form>
        </table>
    </div>
</div>
{% endblock content %}