{% extends 'main.html' %}

{% block content %}

<h1>Edit Species Instance:</h1>
<p><i>Required:</i> <b>Name</b> and <b>Aquarist Notes</b>.  It's okay to leave any of the remaining text fields empty. They won't show on your page.</p>
<p>If you describe optional details such as <b>Unique Traits</b> or <b>Collection Point</b> please append the name to better describe your fish.</p>
<p></p>
    <div>
        <table>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_table}}
                <td> </td><td style="text-align: left; padding-top: 1em;"><input type="Submit" value="Submit"></td>
            </form>
        </table>
    </div>

{% endblock content %}