{% extends 'main.html' %}
<!--context = {'form': form, 'aquaristClub': aquaristClub}-->
{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h4 class="my-0">Edit Club: <i>{{ aquaristClub.name }}</i></h4>
                </div>
                <div class="card-body px-4 py-3">
                    {% crispy form %}
                </div>
            </div>            

            <!-- Delete button -->
            <div><p>&nbsp;</p></div>
            <div class="card shadow-sm">
                <div class="card-body px-4 py-3">
                    <h4 class="my-0">Delete Club</h4> 
                    <p class="text-muted mb-3">This action cannot be undone. All associated data will be permanently removed.</p>
                    <a href="{% url 'deleteAquaristClub' form.instance.pk %}" 
                        class="btn btn-secondary"
                    style="color: darkred !important; margin-left: 14%;">
                        Delete Club
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}