{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h3>Edit Species:</h3>
    <p><b>Required Fields:  &nbsp;&nbsp;<i>Name</i></b>, a brief <b><i>Description</i></b>, and <b><i>Local distribution</i></b>.<br/>
        It's okay to leave any of the remaining text fields blank. They won't show on the Species page.</p>
    <div>
        <table>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_table}}
                <tr>
                    <td></td>
                    <td style="text-align: left; padding-top: 1em;">
                        <input type="Submit" style="border-style: solid; box-sizing: border-box; border-radius: 6px; padding: 4px 24px;" 
                            value="Apply Changes"></td>  
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align:left; padding-top:1em;">
                        <button style="border-style:solid; box-sizing: border-box; border-radius: 6px; padding: 4px 24px;" 
                            onclick="window.location.href='{% url 'deleteSpecies' species.id %}';" 
                            type="button">&nbsp;Delete Species&nbsp;
                        </button></td>    
                </tr>
            </form>
        </table>
    </div>
</div>
{% endblock content %}