{% extends 'main.html' %}
<!--context = {'form': form, 'aquaristClub': aquaristClub}-->
{% block content %}
<div class="container">
    <h3>Edit Club: {{ aquaristClub.name }}</h3>
    <div>
        <table>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_table}}
                <tr>
                    <td></td>
                    <td style="text-align: left; padding-top: 1em;">
                        <input type="Submit" style="border-style: solid; box-sizing: border-box; border-radius: 6px; padding: 4px 24px;" 
                            value="Apply Changes"></td>  
                </tr>
            </form>
        </table>
    </div>
    <p><small>&nbsp;</small></p>
    <p><a class="btn btn-secondary" href="{% url 'deleteAquaristClub' aquaristClub.id  %}" role="button">&nbsp;Delete Club&nbsp;</a></p>
</div>
{% endblock content %}