{% extends 'main.html' %}

{% block content %}

<h1>Edit Aquarist Species:</h1>
<p><b>Required Fields:  &nbsp;&nbsp;<i>Name</i></b>, the <b><i></i>Year acquired</i></b>, the <b><i></i>Genetic traits</i></b>, and <b><i>Aquarist notes</i></b>.<br/>
    The name is the Species name by default. It can be appended to more fully describe your fish. Any remaining blank fields <br/>
    won't show on your page. &nbsp;As a best practice, please describe where you got your fish in your Aquarist notes.</p>
<p></p>
    <div>
        <table>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_table}}
                <td> </td><td style="text-align: left; padding-top: 1em;"><input type="Submit" value="Submit"></td>
            </form>
        </table>
    </div>

{% endblock content %}