{% extends 'main.html' %}
<!-- context = {'form': form, 'bap_submission': bap_submission} -->
{% block content %}
<div class="container">
    <h3>BAP Submission</h3>
    <h4><b>{{bap_submission.club.name}}</b></h4>
    <h4><b>Aquarist:</b> {{bap_submission.aquarist.first_name}} {{bap_submission.aquarist.last_name}}</a></h4>
    <h4><b>Species:</b> &nbsp;&nbsp;{{bap_submission.speciesInstance.name}}</h4>
    <h4><b>Points:</b> &nbsp;&nbsp;{{bap_submission.points}}</h4>
    <div>
        <table>
            <form method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                {{form.as_table}}
                <td> </td><td style="text-align: left; padding-top: 1em;"><input type="Submit" value="Submit"></td>
            </form>
        </table>
    </div>
    <p><small>&nbsp;</small></p>
</div>
{% endblock content %}