{% extends 'main.html' %}

{% block content %}

<div class="home-container">
    <div class="sidebar-container">
        <h2>Species</h2>
        <form method="GET" action="{% url 'home' %}">
            <input type="text" name="q" placeholder="Search Species ..."/>
        </form>
        <p>
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for species in speciesFilter %}
            <div>
                {% if species.species_instances.all.count > 0 %}
                <h5>  <a href="{% url 'species' species.id %}">{{species.name}}</a> ({{species.species_instances.all.count}})</h5>
                {% else %}
                <h5>  <a href="{% url 'species' species.id %}">{{species.name}}</a></h5>
                {% endif %}
            </div>
        {% endfor %} 
    </div>
    <div class="activity-container">
        <h2>Recent Updates</h2>
        <p>Species Instances Count: {{speciesInstances.count}}</p>
        {% if speciesInstances.count > 0  %}
        <div>
            {% for speciesInstance in speciesInstances %}
            <div>
                <p>
                <a href="{% url 'speciesInstance' speciesInstance.id %}">{{speciesInstance.name}}</a>
                 ({{speciesInstance.lastUpdated | timesince}}) by
                <a href="{% url 'aquarist' speciesInstance.user.id %}">{{speciesInstance.user.username}}</a>
                </p>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <h5>No recent updates</h5>
        {% endif %}
    </div>
</div>

{% endblock content %}