{% extends 'main.html' %}
<!-- context = {'speciesSet': speciesSet, 'speciesInstances': speciesInstances, 'speciesKeepers': speciesKeepers} -->
{% block content %}

<!-- Temporary CSS code embedded here for now ... to be removed -->
<style>
    .home-container 
    {
        display: grid;
        grid-template-columns: 1fr 2fr
    }
</style> 
<div class="home-container">
    <div class="sidebar-container">
        <h2>Species</h2>
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for species in speciesFilter %}
            <div>
                {% if species.species_instances.all.count > 0 %}
                <h5>  <a href="{% url 'species' species.id %}">{{species.name}}</a> ({{species.species_instances.all.count}})</h5>
                {% else %}
                <h5>  <a href="{% url 'species' species.id %}">{{species.name}}</a></h5>
                {% endif %}
            </div>
        {% endfor %} 
    </div>
    <div>
        <h3 align="right"><a href="{% url 'working' %}">** Working Page **</a></h3>
    </div>
</div>

{% endblock content %}