{% extends 'main.html' %}
{% block content %}
<div>
    <h2>Privacy Policy</h2>
    <p>Last Updated: June 3, 2025</p>

    <p>
    AquaristSpecies.net takes your privacy seriously. 
    To better protect your privacy we provide this privacy policy notice explaining the way your personal information is collected and used.
    </p>

    <p>
    Your profile configuration includes privacy settings you may configure to limit sharing of your name, address, and email contact information.
    </p>
    
    <p>
    AquaristSpecies.net tracks basic information about site visitors and users. 
    This information includes, but is not limited to, IP addresses, browser details, app usage, timestamps, and referring pages. 
    None of this information identifies specific visitors or users to this site. 
    The information is tracked for routine administration and maintenance purposes.
    </p>

    <p>
    Where necessary, this website uses cookies to store information about user preferences and history in order to better serve users.
    </p>

    <p>
    Advertising partners and other third parties may use cookies, scripts and/or web beacons to track user activities on this site in order to 
    display advertisements and other useful information. Such tracking is done directly by the third parties through their own servers and is 
    subject to their own privacy policies. This site has no access or control over these cookies, scripts and/or web beacons that may be used 
    by third parties.
    </p>

    <p>
    AquaristSpecies.net includes links on this website for your use and reference. 
    We are not responsible for the privacy policies on these websites. 
    You should be aware that the privacy policies of these websites may differ from ours.
    </p>

    <p>
    Security of your personal information is important to us. 
    Please note that no method of transmission over the Internet, or method of electronic storage, is 100% secure. 
    While we strive to protect your personal information, we cannot guarantee its absolute security.
    </p>

    <p>
    This Privacy Policy may be modified and updated at any time. If we make any material changes to this Privacy Policy, we will notify you either 
    through the email address you have provided us, or by placing a prominent notice on the site.
    </p>

    <p>For any questions or concerns regarding the privacy policy, please send us an email to aquaristspecies@gmail.com
    </p>

</div>
{% endblock content %}
