{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="home-container">
    <div>
        <h3>Species</h3>
        <form method="GET" action="{% url 'speciesSearch' %}">
            <input type="text" name="q" placeholder="Search Species ..."/>
        </form>
        <p>
        <div>
            <h5><a href="{% url 'speciesSearch' %}">All</a></h5>
        </div>
            {% for species in speciesFilter %}
            <div>
                {% if species.species_instances.all.count > 0 %}
                    <!-- p>{{species.cares_status}} display as {{species.get_cares_status_display}}</p-->
                    {% if species.render_cares %}
                        <p>  <a href="{% url 'species' species.id %}">{{species.name}}</a> <font style="color:#860404;" >CARES</font> ({{species.species_instances.all.count}})</p>
                    {% else %}
                        <p>  <a href="{% url 'species' species.id %}">{{species.name}}</a> ({{species.species_instances.all.count}})</p>
                    {% endif %}
                {% else %}
                    {% if species.render_cares %}
                        <p>  <a href="{% url 'species' species.id %}">{{species.name}}</a> <font style="color:#860404;" >CARES</font></p>
                    {% else %}
                        <p>  <a href="{% url 'species' species.id %}">{{species.name}}</a></p>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %} 
        <div>
            <p><a href="{% url 'createSpecies'%}">Add Species</a></p>
        </div>
    </div>
    <div>
        {% if speciesFilter.count > 0  %}
            <h3>Recent Aquarist Updates</h3>
            {% if speciesInstances.count > 0  %}
            <div>
                {% for speciesInstance in speciesInstances %}
                <div>
                    <p>
                    <a href="{% url 'speciesInstance' speciesInstance.id %}">{{speciesInstance.name}}</a>
                    ({{speciesInstance.lastUpdated | timesince}}) by
                    <a href="{% url 'aquarist' speciesInstance.user.id %}">{{speciesInstance.user.get_display_name}}</a>
                    </p>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <h5>No recent updates</h5>
            {% endif %}
            </div>
        {% else %}
        <h3  style="text-align:center;">Species Not Found</h3>
        <div>
            <p style="text-align:center;"><b>Your species search returned no results.</b> This can happen if the <i>Species</i> does not yet exist in the database.</p> 
            <p style="text-align:center;">It can also happen if you misspelled the <i>Species</i> name or entered search keywords not found. 
            <p style="text-align:center;">If you are searching for a particular species, please be sure to search for the <i>genus</i> and/or <i>species</i> with the correct spelling.</p>
            <p style="text-align:center;">You can also enter partial text. For example 'apisto' brings up all Apistogramma species in the database.</p>
            <p style="text-align:center;">If you'd like help adding your species you can use the <a href="{% url 'addSpeciesInstanceWizard1'%}">Add My Species Guided Tutorial</a></p>
        </div>
        <div>
            <p>&nbsp;</p>
            <p style="text-align:center;"><a href="{% url 'speciesSearch'%}"><img src={% static 'images\ASN_WhereAquaristMeet_06.jpg' %}></a></p>
        </div>

        {% endif %}
</div>

{% endblock content %}
