{% extends 'main.html' %}
{% block content %}
<div class="container">
  <h3>{{ smp_submission.club.name }}</h3>
  <h5>Species: <a href="{% url 'speciesInstance' smp_submission.speciesInstance.id %}">{{ smp_submission.speciesInstance.name }}</a></h5>
  <p><b>Status:</b> {{ smp_submission.get_status_display }}</p>
  {% if missing_required_notes %}<div class="alert alert-warning">⚠ Waiting on required notes: {{ missing_required_notes|join:", " }}</div>{% endif %}
  <p><b>Year:</b> {{ smp_submission.year }}</p>
  <p><b>Maintenance year:</b> {{ smp_submission.maintenance_year_number }}</p>
  <p><b>Base points:</b> {{ smp_submission.base_points }}</p>
  <p><b>SMP points:</b> {{ smp_submission.smp_points }}</p>
  {% if userCanEdit %}<p><a class="btn btn-secondary" href="{% url 'editSmpSubmission' smp_submission.id %}">Edit SMP Submission</a></p>{% endif %}
  <p><a class="btn btn-secondary" href="{% url 'smpSubmissions' smp_submission.club.id %}">{{ smp_submission.club.acronym }} SMP Submissions</a></p>
</div>
{% endblock content %}
