{% extends 'main.html' %}
<!-- context = {'speciesInstance': speciesInstance, 'speciesInstanceLogEntries': speciesInstanceLogEntries,
                 'species': species, 'renderCares': renderCares} -->
{% block content %}

<div class="div-line-below">
    <h2>{{speciesInstance.name}}</h2>
    <h3>Aquarist: <a href="{% url 'aquarist' speciesInstance.user.id %}">{{speciesInstance.user.username}}</a></h3>
    <h3>Species:  <a href="{% url 'species' species.id %}">{{species.name}}</a></h3>
    {% if species.alt_name %}
        <p><b>Alternate Name: &nbsp;&nbsp;</b>{{species.alt_name}}</p>
    {% endif %}
    {% if species.common_name %}
        <p><b>Common Name: &nbsp;&nbsp;</b>{{species.common_name}}</p>
    {% endif %}
    <small>&nbsp;</small>
    {% if species.species_image %}
        <p><img src={{species.species_image.url}}></p>
    {% endif %}
    {% if species.photo_credit %}
        <p>Photo by:<i> &nbsp;&nbsp;{{species.photo_credit}}</i> </p>
    {% endif %}
    <h3>Description</h3>
    <p>{{species.description}}</p>
    <!-- Non Obvious use of TextChoices: to display text and no enum string use get_VARNAME_display -->
    <p><b>Category:</b>  &nbsp;&nbsp;{{species.get_category_display}}</p>
    <p><b>Global Region:</b> &nbsp;&nbsp;{{species.get_global_region_display}}</p>
    <p><b>Distribution:</b> &nbsp;&nbsp;{{species.local_distribution}}</p>
    {% if renderCares %}
        <p><b>CARES Status:</b> &nbsp;&nbsp;{{species.get_cares_status_display}}</p>
    {% endif %}
    <small>&nbsp;</small>
    <!--hr-->
</div>

<div>
    <h3>Aquarist Notes</h3>
    {% if speciesInstance.instance_image %}
        <p><img src={{speciesInstance.instance_image.url}}></p>
    {% endif %}
    {% if speciesInstance.collection_point %}
        <p><b>Collection Point:</b> &nbsp;&nbsp;{{speciesInstance.collection_point}}</p>
    {% endif %}   
    <p><b>Genetic Line:</b> &nbsp;&nbsp;{{speciesInstance.get_genetic_traits_display}}</p>
    {% if speciesInstance.unique_traits %}
        <p><b>Line Traits:</b> &nbsp;&nbsp;{{speciesInstance.unique_traits}}</p>
    {% endif %}  
    <p><b>Year Acquired:</b> &nbsp;&nbsp;{{speciesInstance.year_acquired}}</p>
    <p>{{speciesInstance.aquarist_notes}}</p>

    {% if speciesInstance.have_spawned %}
        <p><b>Species Spawned:</b> &nbsp;&nbsp;Yes</p>
        <p>{{speciesInstance.spawning_notes}}</p>
        {% if speciesInstance.have_reared_fry %}
            <p><b>Have Reared Fry?</b> &nbsp;&nbsp;Yes</p>
            <p>{{speciesInstance.fry_rearing_notes}}</p>
            {% if speciesInstance.young_available %}
                <p><b>Young fish available?</b> &nbsp;&nbsp;Yes</p>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if request.user.is_authenticated and speciesInstance.enable_species_log %}
        {% if userCanEdit and speciesInstance.enable_species_log %}
            <p><a class="btn btn-secondary" href="{% url 'speciesInstanceLog' speciesInstance.id %}" role="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; View Species Log &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></p>
            <small>&nbsp;</small>
        {% endif %}
    {% endif %}

    {% if request.user.is_authenticated %}
        {% if userCanEdit %}
            </div>
            <div class="div-line-above">
            <h3>Edit Aquarist Species</h3>
            {% if userCanEdit and speciesInstance.enable_species_log %}
                <p><a class="btn btn-secondary" href="{% url 'createSpeciesInstanceLogEntry' speciesInstance.id  %}" role="button">&nbsp;&nbsp;Add Species Log Entry&nbsp;&nbsp;</a></p>
            {% endif %}
            <p><a class="btn btn-secondary" href="{% url 'editSpeciesInstance' speciesInstance.id  %}" role="button">&nbsp;&nbsp; Edit Aquarist Species &nbsp;&nbsp;</a></p>
            <p><a class="btn btn-secondary" href="{% url 'deleteSpeciesInstance' speciesInstance.id %}" role="button">Delete Aquarist Species</a></p>
        {% endif %}
    {% endif %}
</div>

{% endblock content %}