{% extends 'main.html' %}
<!-- context = {'speciesComments': speciesComments } -->
{% block content %}

<div class="container">
    <h3>Species Maintenance Logs</h3>
     {% if speciesMaintenanceLogs.all.count > 0  %}
        {% for speciesMaintenanceLog in speciesMaintenanceLogs %}
        <div class="div-line-below">
            <p>
                <a href="{% url 'speciesMaintenanceLog' speciesMaintenanceLog.id %}">{{speciesMaintenanceLog.name}}</a>
            </p>
        </div>
        {% endfor %}
    {% else %}
    <h5>None</h5>
    {% endif %}     
</div>

{% endblock content %}