{% extends 'main.html' %}
{% load static %}

<!-- context = {species, speciesComments, speciesReferenceLinks, speciesInstances, renderCares, userCanEdit, cform, rlform, userCanEdit} -->
{% block content %}

<div class="div-line-below">
    <h2><b>CARES Profile</b>: <i>{{species.name}}</i></h2>
    {% if species.alt_name %}
        <p><b>Alternate Name:</b> &nbsp;&nbsp;{{species.alt_name}}</p>
    {% endif %}
    {% if species.common_name %}
        <p><b>Common Name:</b>&nbsp;&nbsp;{{species.common_name}}</p>
    {% endif %}
    {% if species.species_image %}
        <p><img src={{species.species_image.url}}></p>
    {% endif %}
    {% if species.photo_credit %}
        <p>Photo by:<i> &nbsp;&nbsp;{{species.photo_credit}}</i> </p>
    {% endif %}
    <h3>Description</h3>
    <p>{{species.description}}</p>
    <p><b>CARES Category:</b> &nbsp;&nbsp;{{species.get_cares_category_display}}</p>
    <!--p><b>Category:</b> &nbsp;&nbsp;{{species.get_category_display}}</p-->
    <p><b>Global Region:</b> &nbsp;&nbsp;{{species.get_global_region_display}}</p>
    <p><b>Distribution:</b> &nbsp;&nbsp;{{species.local_distribution}}</p>
    {% if renderCares %}
        <p><b>CARES Status:</b> &nbsp;&nbsp;{{species.get_cares_status_display}}</p>
    {% endif %}
    <small>&nbsp;</small>
    <!--hr-->
</div>

<div>
    <h2>Aquarists keeping this Species</h2>
    {% if species.species_instances.all.count > 0  %}
        {% for speciesInstance in speciesInstances %}
            {% if speciesInstance.currently_keep %}
            <div>
                <p><b>{{speciesInstance.user.get_display_name}}</b>:       
                <a href="{% url 'speciesInstance' speciesInstance.id %}">{{speciesInstance.name}}</a></p>
            </div>
            {% endif %}
        {% endfor %}    
    {% else %}
        <p><b>None</b></p>
    {% endif %}
    {% if request.user.is_authenticated %}
        <p><a class="btn btn-secondary" href="{% url 'createSpeciesInstance' species.id  %}" role="button"><i>I keep this fish!</i></a></p>
    {% endif %}
</div>

{% if request.user.is_authenticated %}
    <div class="div-line-above">
        <h2>Reference Links</h2>
        {% if speciesReferenceLinks.all.count > 0  %}
            {% for speciesReferenceLink in speciesReferenceLinks %}
                <div>
                    <p style = "display: flex; justify-content: space-between;">
                        <span><a href="{{speciesReferenceLink.reference_url}}" target="_blank">{{speciesReferenceLink.name}}</a></span>
                        {% if speciesComment.user == request.user or userCanEdit %}
                            <a href="{% url 'editSpeciesReferenceLink' speciesReferenceLink.id %}">Edit Link</a>
                        {% endif %}  
                    </p>  
                </div>
            {% endfor %}  
        {% else %}    
                <p>None</p>
        {% endif %}
        {% if userCanEdit %}
            <p><a class="btn btn-secondary" href="{% url 'createSpeciesReferenceLink' species.id  %}" role="button">&nbsp;&nbsp;&nbsp;Add Reference Link&nbsp;&nbsp;&nbsp;</a></p>
        {% endif %}
    </div>

    {% if userCanEdit %}
        <small>&nbsp;</small>
        <div class="div-line-above">
            <h3>Edit Species</h3>
            <p><a class="btn btn-secondary" href="{% url 'editSpecies' species.id  %}" role="button">&nbsp;&nbsp;&nbsp;Edit Species&nbsp;&nbsp;&nbsp;</a></p>
        </div>
    {% endif %}

{% endif %}

{% endblock content %}
