{% extends 'main.html' %}

{% block content %}
<div class="container">
    <div class="div-line-below">
        <h3>Species Tools</h3>
        <p><a href="{% url 'createSpecies'%}">Add Species</a></p>
        <p><a href="{% url 'speciesReferenceLinks' %}">View all Species Reference Links</a></p>
        <p><a href="{% url 'speciesComments' %}">View all Species Comments</a></p>     

    </div>
    <div>
        <h3>Aquarist Species Tools</h3>
        <p><a href="{% url 'speciesInstancesWithLogs' %}">View all Aquarist Species with Logs</a></p>
        <p><a href="{% url 'speciesInstancesWithEmptyLogs' %}">View all Aquarist Species with Empty Logs</a></p>
        <p><a href="{% url 'speciesInstancesWithVideos' %}">View all Aquarist Species with Videos</a></p>
        <p><a href="{% url 'speciesInstanceLabels' %}">View all Aquarist Species with Labels</a></p>
    </div>
    <div>
        <h3>Aquarist Maintenance Log Tools</h3>
        <p><a href="{% url 'speciesMaintenanceLogs' %}">View all Aquarist Species Maintenance Logs</a></p>   
    </div>    
</div>
{% endblock content %}