{% extends 'main.html' %}

{% block content %}
<div class="container">
    <div>
        <h3>Species Tools</h3>
        <p><a href="{% url 'createSpecies'%}">Add Species</a></p>
        <p><a href="{% url 'exportSpecies' %}">Export Species to CSV</a></p>
        <p><a href="{% url 'speciesProfilesWithPhotos' %}">View all Species with Photos</a></p>
        <p><a href="{% url 'speciesFeedbackTools' %}">Review Species Feedback Submissions</a></p>
    </div>
    <div>
        <h3>Collection Location Tools</h3>
        <p><a href="{% url 'collectionLocations' %}">View all Collection Locations</a></p>
    </div>    
    <div>
        <h3>Registration Tools</h3>
        <p><a href="{% url 'exportCaresRegistrations'%}">Export CARES Registrations to CSV</a></p>
        <p><a href="{% url 'importCaresRegistrations'%}">Import CARES Registrations from CSV</a></p>
    </div>
</div>
{% endblock content %}