{% extends 'main.html' %}
<!-- context = {'aquarist': aquarist} -->
{% block content %}
<!--hr-->

    <div>
        <h1>{{aquarist.username}}</h1>
        <large>
            <p><B>Username:</B> &nbsp;{{aquarist.username}}</p>
            <p><B>Name:</B> &nbsp;{{aquarist.first_name}} {{aquarist.last_name}}</p>
            <p><B>Email:</B> &nbsp;{{aquarist.email}}</p>
            <p><B>State:</B> &nbsp;{{aquarist.state}}</p>
            <p><B>Country:</B> &nbsp;{{aquarist.country}}</p>
            <p>The following settings are <i>'Private'</i> or <i>'Shared'</i>. <b>Private</b> settings remains hidden from all users.<br>
                <b>Shared</b> settings are displayed on AquaristSpecies.net pages for signed-in users.</p>
            {% if aquarist.is_private_name %}
                <p><B>Name: </B>&nbsp;<i>Private</i></p>
            {% else %}
                <p><B>Name: </B>&nbsp;<i>Shared</i></p>
            {% endif %}
            {% if aquarist.is_private_email %}
                <p><B>Email: </B>&nbsp;<i>Private</i></p>
            {% else %}
                <p><B>Email: </B>&nbsp;<i>Shared</i></p>
            {% endif %}
            {% if aquarist.is_private_location %}
                <p><B>Location: </B>&nbsp;<i>Private</i></p>
            {% else %}
                <p><B>Location: </B>&nbsp;<i>Shared</i></i></p>
            {% endif %}
            <p><B>Member since:</B> &nbsp;{{aquarist.date_joined|date:"M d, Y" }}</p>
        </large>
        <!--p><h5><a href="{% url 'editUserProfile' %}">Edit {{request.user}} Profile</a></h5></p-->
        <p><a class="btn btn-secondary" href="{% url 'editUserProfile' %}" role="button">&nbsp;Edit Profile&nbsp;</a></p>

        <!--p><h5><a href="{% url 'account_logout' %}">Sign out {{request.user}}</a></h5></p-->
        <p><a class="btn btn-secondary" href="{% url 'account_logout' %}" role="button">&nbsp;&nbsp;&nbsp;Sign out&nbsp;&nbsp;&nbsp;</a></p>
        <!--hr-->
    </div>

{% endblock content %}