{% extends 'main.html' %}
<!-- context = {'speciesSet': speciesSet, 'speciesInstances': speciesInstances, 'speciesKeepers': speciesKeepers} -->
{% block content %}

<div>
    <h2>Species Instances</h2>
    <h4><a href="{% url 'exportSpeciesInstances' %}">Export Species Instances to CSV</a></h4>
    <h4><a href="{% url 'importSpeciesInstances' %}">Import Species Instances from CSV</a></h4>
    <p>Species Instances Count: {{speciesInstances.count}}</p>
    {% for speciesInstance in speciesInstances %}
    <div>
        <h5><a href="{% url 'speciesInstance' speciesInstance.id %}">{{speciesInstance.name}}</a>  
            {% if request.user == speciesInstance.user %}
                <a href="{% url 'editSpeciesInstance' speciesInstance.id %}">Edit</a>   
                <a href="{% url 'deleteSpeciesInstance' speciesInstance.id %}">Delete</a>
            {% endif %}
        </h5 >
    </div>
    {% endfor %} 

</div>

{% endblock content %}